.arrrow_down {
  position: fixed;
  width: auto;
  height: 50px;
  bottom: 4%;
  right: 92%;
  z-index: 3;
}

.arrrow_down_div {
  width: 20px;
  height: 20px;
  background-color: transparent;
  transform: rotate(45deg);
  border-right: 2px solid orangered;
  border-bottom: 2px solid orangered;
}
.arrowDownOne {
  animation: pulse 1.5s 0s infinite normal ease forwards;
}
.arrowDownTwo {
  animation: pulse 1.5s 0.25s infinite normal ease forwards;
}
.arrowDownThree {
  animation: pulse 1.5s 0.5s infinite normal ease forwards;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
