.arrrow_down {
  position: fixed;
  width: auto;
  height: 50px;
  top: 90vh;
  right: 95vw;
  z-index: 3;
  cursor: pointer;
}
.arrrow_downUp {
  transform: rotate(180deg);
}
.arrrow_down_div {
  width: 20px;
  height: 20px;
  background-color: transparent;
  transform: rotate(45deg);
  border-right: 2px solid rgba(255, 68, 0, 0.792);
  border-bottom: 2px solid rgba(255, 68, 0, 0.792);
}
.arrowDownOne {
  animation: pulse 1.5s 0s infinite normal ease forwards;
}
.arrowDownTwo {
  animation: pulse 1.5s 0.25s infinite normal ease forwards;
}
.arrowDownThree {
  animation: pulse 1.5s 0.5s infinite normal ease forwards;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
