html {
  /* height: 100%; */
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
}
.heroBackground {
  /* display: none; */
  max-width: 100%;
  /* overflow-x: hidden; */
}
#stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1328px 792px #fff, 580px 543px #fff, 329px 43px #fff,
    1562px 62px #fff, 1564px 1220px #fff, 1227px 1627px #fff, 571px 538px #fff,
    518px 1502px #fff, 1266px 709px #fff, 83px 1631px #fff, 391px 1680px #fff,
    926px 83px #fff, 694px 1925px #fff, 853px 441px #fff, 157px 1225px #fff,
    76px 1267px #fff, 1341px 12px #fff, 1990px 898px #fff, 552px 1397px #fff,
    1911px 1600px #fff, 1344px 1581px #fff, 193px 903px #fff, 1977px 176px #fff,
    335px 41px #fff, 1358px 1526px #fff, 1513px 4px #fff, 1010px 1518px #fff,
    594px 777px #fff, 150px 1444px #fff, 243px 1309px #fff, 574px 13px #fff,
    1px 1877px #fff, 1461px 1339px #fff, 215px 1628px #fff, 561px 1084px #fff,
    1013px 471px #fff, 1625px 312px #fff, 488px 1058px #fff, 486px 1265px #fff,
    1837px 910px #fff, 811px 1872px #fff, 1498px 1019px #fff, 492px 620px #fff,
    690px 374px #fff, 1989px 1387px #fff, 1852px 666px #fff, 638px 1px #fff,
    704px 286px #fff, 1060px 922px #fff, 133px 445px #fff, 609px 818px #fff,
    789px 650px #fff, 1712px 1276px #fff, 1728px 739px #fff, 819px 380px #fff,
    1173px 971px #fff, 260px 516px #fff, 135px 878px #fff, 981px 426px #fff,
    135px 1773px #fff, 1727px 1564px #fff, 823px 78px #fff, 255px 1063px #fff,
    823px 278px #fff, 1215px 1044px #fff, 1597px 1936px #fff, 843px 309px #fff,
    5px 351px #fff, 1881px 1647px #fff, 1803px 837px #fff, 322px 989px #fff,
    1515px 1760px #fff, 1818px 125px #fff, 241px 53px #fff, 1597px 318px #fff,
    963px 89px #fff, 1056px 1680px #fff, 123px 1357px #fff, 437px 239px #fff,
    1834px 361px #fff, 732px 1254px #fff, 520px 590px #fff, 1495px 1948px #fff,
    1979px 641px #fff, 1982px 1938px #fff, 1146px 162px #fff, 580px 1613px #fff,
    1290px 1839px #fff, 1078px 1993px #fff, 801px 877px #fff, 703px 794px #fff,
    928px 1584px #fff, 685px 1820px #fff, 1707px 1745px #fff, 1316px 421px #fff,
    1041px 182px #fff, 21px 958px #fff, 1176px 1638px #fff, 649px 1292px #fff,
    1183px 536px #fff, 917px 596px #fff, 1757px 714px #fff, 24px 1155px #fff,
    1526px 151px #fff, 1535px 142px #fff, 217px 1821px #fff, 1642px 1681px #fff,
    457px 971px #fff, 129px 1130px #fff, 1813px 469px #fff, 794px 557px #fff,
    433px 1601px #fff, 3px 729px #fff, 1117px 832px #fff, 1902px 1927px #fff,
    1777px 526px #fff, 784px 742px #fff, 1880px 227px #fff, 605px 1520px #fff,
    1441px 1256px #fff, 418px 1605px #fff, 142px 1699px #fff, 1947px 300px #fff,
    1183px 1470px #fff, 1798px 703px #fff, 605px 1429px #fff, 1309px 103px #fff,
    1601px 433px #fff, 1069px 1104px #fff, 127px 176px #fff, 1328px 1158px #fff,
    1070px 1593px #fff, 71px 52px #fff, 1849px 174px #fff, 302px 1023px #fff,
    669px 1722px #fff, 161px 1425px #fff, 979px 1278px #fff, 745px 532px #fff,
    622px 1583px #fff, 474px 603px #fff, 574px 741px #fff, 944px 35px #fff,
    203px 501px #fff, 1385px 471px #fff, 1047px 1278px #fff, 1464px 1363px #fff,
    1400px 1201px #fff, 1738px 1983px #fff, 1915px 253px #fff, 524px 231px #fff,
    1602px 348px #fff, 1679px 333px #fff, 834px 232px #fff, 715px 1240px #fff,
    1740px 924px #fff, 1796px 825px #fff, 1976px 390px #fff, 1796px 470px #fff,
    268px 665px #fff, 1306px 366px #fff, 1397px 55px #fff, 1271px 1813px #fff,
    1226px 1357px #fff, 1370px 950px #fff, 1312px 539px #fff, 261px 1998px #fff,
    591px 1525px #fff, 1536px 123px #fff, 1304px 782px #fff, 476px 1833px #fff,
    1962px 929px #fff, 927px 507px #fff, 584px 957px #fff, 1659px 1170px #fff,
    306px 1345px #fff, 436px 1342px #fff, 22px 1469px #fff, 885px 891px #fff,
    1580px 899px #fff, 284px 467px #fff, 608px 296px #fff, 1243px 675px #fff,
    1882px 286px #fff, 331px 12px #fff, 454px 1908px #fff, 70px 293px #fff,
    1824px 221px #fff, 687px 1410px #fff, 576px 1915px #fff, 426px 1290px #fff,
    1431px 262px #fff, 1688px 383px #fff, 710px 639px #fff, 1080px 1647px #fff,
    1146px 952px #fff, 26px 314px #fff, 98px 1341px #fff, 1066px 1551px #fff,
    1819px 1388px #fff, 523px 319px #fff, 1411px 1285px #fff, 514px 1704px #fff,
    1049px 728px #fff, 505px 684px #fff, 75px 689px #fff, 31px 257px #fff,
    1274px 761px #fff, 748px 133px #fff, 1046px 553px #fff, 835px 1509px #fff,
    1880px 756px #fff, 328px 110px #fff, 962px 1574px #fff, 702px 160px #fff,
    1386px 267px #fff, 1619px 1683px #fff, 1796px 1879px #fff, 1015px 924px #fff,
    565px 328px #fff, 1402px 963px #fff, 1674px 796px #fff, 673px 44px #fff,
    1100px 795px #fff, 312px 1817px #fff, 879px 1545px #fff, 1853px 1254px #fff,
    127px 1994px #fff, 1721px 369px #fff, 722px 420px #fff, 865px 239px #fff,
    1801px 672px #fff, 300px 1797px #fff, 1505px 1987px #fff, 190px 375px #fff,
    494px 1792px #fff, 471px 971px #fff, 565px 447px #fff, 509px 1711px #fff,
    1549px 1961px #fff, 1514px 1858px #fff, 1332px 369px #fff,
    1001px 1693px #fff, 1182px 763px #fff, 1839px 1168px #fff, 1319px 207px #fff,
    374px 1977px #fff, 1791px 1159px #fff, 1305px 979px #fff, 328px 682px #fff,
    1587px 494px #fff, 1464px 1032px #fff, 366px 1129px #fff, 226px 321px #fff,
    1709px 1158px #fff, 1734px 928px #fff, 234px 1810px #fff, 1924px 673px #fff,
    471px 1234px #fff, 1158px 1190px #fff, 949px 1311px #fff, 1102px 1122px #fff,
    1169px 62px #fff, 581px 605px #fff, 1140px 502px #fff, 382px 196px #fff,
    742px 59px #fff, 685px 1547px #fff, 292px 571px #fff, 568px 1197px #fff,
    170px 706px #fff, 182px 1393px #fff, 1270px 190px #fff, 763px 330px #fff,
    370px 1729px #fff, 1622px 1316px #fff, 582px 1138px #fff, 900px 896px #fff,
    637px 1742px #fff, 1415px 18px #fff, 145px 292px #fff, 1734px 745px #fff,
    1875px 1674px #fff, 96px 1952px #fff, 1046px 1105px #fff, 463px 1527px #fff,
    847px 1329px #fff, 1351px 1873px #fff, 1275px 636px #fff, 432px 1770px #fff,
    322px 1547px #fff, 1588px 1380px #fff, 1691px 586px #fff, 1638px 227px #fff,
    488px 1333px #fff, 1750px 1135px #fff, 835px 95px #fff, 430px 1413px #fff,
    872px 920px #fff, 1849px 894px #fff, 1535px 1557px #fff, 1304px 940px #fff,
    172px 1212px #fff, 1323px 1487px #fff, 765px 1591px #fff, 663px 518px #fff,
    1218px 549px #fff, 193px 1914px #fff, 411px 1451px #fff, 1368px 99px #fff,
    1974px 612px #fff, 281px 344px #fff, 1339px 1267px #fff, 301px 568px #fff,
    933px 1601px #fff, 1098px 1552px #fff, 1228px 1880px #fff, 77px 613px #fff,
    1145px 870px #fff, 1990px 59px #fff, 1369px 1190px #fff, 696px 1377px #fff,
    587px 1290px #fff, 835px 1601px #fff, 662px 1918px #fff, 954px 65px #fff,
    1150px 1436px #fff, 1018px 1626px #fff, 1333px 1686px #fff,
    381px 1605px #fff, 1482px 655px #fff, 1232px 1494px #fff, 1258px 1708px #fff,
    412px 1161px #fff, 804px 1520px #fff, 76px 24px #fff, 133px 954px #fff,
    1644px 897px #fff, 1144px 376px #fff, 1596px 766px #fff, 1876px 1682px #fff,
    1926px 978px #fff, 1705px 1230px #fff, 1710px 145px #fff, 1377px 694px #fff,
    1917px 987px #fff, 635px 377px #fff, 1353px 595px #fff, 181px 1123px #fff,
    965px 1017px #fff, 834px 1712px #fff, 1825px 1215px #fff, 700px 1365px #fff,
    1279px 110px #fff, 1003px 919px #fff, 810px 188px #fff, 557px 1929px #fff,
    313px 1210px #fff, 1792px 1259px #fff, 803px 1195px #fff, 124px 857px #fff,
    1343px 1411px #fff, 376px 1292px #fff, 1612px 122px #fff, 1559px 147px #fff,
    2px 501px #fff, 485px 1042px #fff, 126px 1316px #fff, 471px 468px #fff,
    949px 1902px #fff, 1154px 905px #fff, 1053px 1161px #fff, 1565px 653px #fff,
    427px 1516px #fff, 1921px 1068px #fff, 1589px 694px #fff, 1182px 830px #fff,
    121px 1548px #fff, 778px 249px #fff, 1875px 1489px #fff, 272px 1836px #fff,
    1101px 1484px #fff, 22px 354px #fff, 704px 45px #fff, 1634px 902px #fff,
    1810px 196px #fff, 1084px 1137px #fff, 1202px 401px #fff, 1615px 1435px #fff,
    1609px 325px #fff, 1501px 100px #fff, 126px 1233px #fff, 1806px 1670px #fff,
    1272px 1946px #fff, 1058px 223px #fff, 214px 1014px #fff, 1154px 355px #fff,
    1256px 340px #fff, 1833px 463px #fff, 1787px 1415px #fff, 1148px 180px #fff,
    881px 1124px #fff, 425px 1936px #fff, 72px 1706px #fff, 1175px 1765px #fff,
    1696px 1350px #fff, 1703px 259px #fff, 763px 1140px #fff, 401px 185px #fff,
    731px 1924px #fff, 1681px 908px #fff, 1831px 149px #fff, 1592px 1020px #fff,
    862px 1134px #fff, 1141px 1743px #fff, 609px 1798px #fff, 1829px 834px #fff,
    1323px 1852px #fff, 490px 1683px #fff, 854px 1801px #fff, 561px 1606px #fff,
    780px 1158px #fff, 1859px 1025px #fff, 1555px 599px #fff, 1607px 1014px #fff,
    958px 525px #fff, 466px 1101px #fff, 1567px 8px #fff, 778px 1080px #fff,
    1420px 1946px #fff, 252px 1573px #fff, 1822px 1525px #fff, 1488px 171px #fff,
    1869px 1463px #fff, 1731px 7px #fff, 1332px 273px #fff, 271px 1217px #fff,
    1384px 1060px #fff, 779px 506px #fff, 721px 576px #fff, 1229px 1084px #fff,
    1282px 673px #fff, 1242px 1882px #fff, 1727px 1110px #fff, 1258px 837px #fff,
    1222px 1215px #fff, 214px 1091px #fff, 1750px 780px #fff, 684px 953px #fff,
    459px 745px #fff, 1252px 1568px #fff, 1293px 1057px #fff, 366px 528px #fff,
    261px 535px #fff, 800px 846px #fff, 744px 944px #fff, 651px 175px #fff,
    1198px 1542px #fff, 1677px 720px #fff, 840px 1775px #fff, 823px 560px #fff,
    1349px 1889px #fff, 157px 1838px #fff, 814px 113px #fff, 87px 1335px #fff,
    1760px 76px #fff, 1634px 1773px #fff, 1262px 237px #fff, 216px 458px #fff,
    956px 609px #fff, 463px 271px #fff, 1364px 1100px #fff, 1436px 1387px #fff,
    1345px 189px #fff, 835px 1056px #fff, 1975px 407px #fff, 138px 56px #fff,
    1070px 1372px #fff, 95px 114px #fff, 1000px 1231px #fff, 206px 427px #fff,
    171px 598px #fff, 1816px 202px #fff, 367px 282px #fff, 1020px 1183px #fff,
    405px 1941px #fff, 555px 588px #fff, 563px 1360px #fff, 1670px 408px #fff,
    1329px 1219px #fff, 474px 673px #fff, 1801px 1591px #fff, 1637px 1818px #fff,
    1115px 188px #fff, 263px 521px #fff, 1663px 17px #fff, 1084px 1293px #fff,
    1834px 871px #fff, 1474px 1763px #fff, 496px 1309px #fff, 1588px 1354px #fff,
    461px 86px #fff, 945px 947px #fff, 800px 1176px #fff, 1698px 1091px #fff,
    1906px 363px #fff, 986px 1741px #fff, 198px 356px #fff, 355px 1173px #fff,
    1251px 1116px #fff, 306px 1325px #fff, 913px 1312px #fff, 1345px 682px #fff,
    1611px 1513px #fff, 214px 1860px #fff, 1586px 135px #fff, 1317px 1493px #fff,
    507px 1812px #fff, 840px 407px #fff, 1562px 1521px #fff, 4px 1100px #fff,
    162px 1473px #fff, 1877px 296px #fff, 204px 1279px #fff, 1958px 1647px #fff,
    1187px 1602px #fff, 1003px 1302px #fff, 1703px 1435px #fff,
    1088px 314px #fff, 1402px 893px #fff, 1263px 6px #fff, 1188px 309px #fff,
    113px 1721px #fff, 972px 1480px #fff, 1198px 368px #fff, 1017px 644px #fff,
    1672px 1806px #fff, 1044px 846px #fff, 274px 1495px #fff, 733px 409px #fff,
    1158px 1178px #fff, 1937px 620px #fff, 174px 1806px #fff, 1688px 1951px #fff,
    1003px 1721px #fff, 942px 94px #fff, 315px 489px #fff, 24px 1228px #fff,
    889px 872px #fff, 868px 1360px #fff, 1047px 1465px #fff, 264px 1578px #fff,
    1257px 1113px #fff, 1372px 963px #fff, 302px 216px #fff, 767px 1931px #fff,
    1150px 215px #fff, 1816px 1033px #fff, 1039px 1449px #fff, 461px 108px #fff,
    157px 1284px #fff, 947px 927px #fff, 1425px 809px #fff, 1737px 1923px #fff,
    1272px 1529px #fff, 127px 143px #fff, 856px 1596px #fff, 139px 1551px #fff,
    982px 1622px #fff, 1626px 1452px #fff, 238px 593px #fff, 705px 275px #fff,
    63px 1391px #fff, 548px 388px #fff, 1601px 167px #fff, 741px 1355px #fff,
    1001px 1450px #fff, 629px 1287px #fff, 916px 1611px #fff, 601px 567px #fff,
    1914px 144px #fff, 1221px 399px #fff, 9px 1120px #fff, 1874px 768px #fff,
    810px 850px #fff, 1203px 479px #fff, 1353px 269px #fff, 617px 1510px #fff,
    550px 482px #fff, 352px 1861px #fff, 1112px 820px #fff, 854px 1561px #fff,
    575px 79px #fff, 1708px 1727px #fff, 1806px 693px #fff, 70px 1526px #fff,
    186px 617px #fff, 1747px 1683px #fff, 134px 1170px #fff, 1525px 1487px #fff,
    262px 813px #fff, 422px 1461px #fff, 332px 405px #fff, 45px 1522px #fff,
    1529px 497px #fff, 627px 756px #fff, 1656px 814px #fff, 199px 701px #fff,
    1095px 334px #fff, 1582px 7px #fff, 6px 665px #fff, 1174px 1176px #fff,
    7px 48px #fff, 1255px 793px #fff, 1281px 1736px #fff, 1584px 545px #fff,
    1837px 1616px #fff, 1334px 302px #fff, 1341px 437px #fff, 1943px 524px #fff,
    1718px 1956px #fff, 72px 1986px #fff, 1256px 1813px #fff, 944px 2px #fff,
    1608px 450px #fff, 747px 1837px #fff, 715px 1527px #fff, 393px 396px #fff,
    703px 654px #fff, 1635px 1145px #fff, 1429px 1095px #fff, 1294px 1650px #fff,
    1474px 511px #fff, 1097px 312px #fff, 1639px 671px #fff, 738px 1832px #fff,
    1026px 109px #fff, 781px 1702px #fff, 1537px 663px #fff, 529px 1031px #fff,
    722px 1335px #fff, 840px 711px #fff, 435px 671px #fff, 1875px 1431px #fff,
    55px 1437px #fff, 1570px 81px #fff, 859px 809px #fff, 522px 383px #fff,
    1360px 1526px #fff, 1844px 26px #fff, 897px 1703px #fff, 1098px 1317px #fff,
    491px 1402px #fff, 884px 1148px #fff, 541px 1386px #fff, 500px 715px #fff,
    34px 1415px #fff, 478px 636px #fff, 330px 1663px #fff, 1368px 1884px #fff,
    1997px 1604px #fff, 1179px 323px #fff, 1433px 437px #fff, 535px 474px #fff,
    1959px 515px #fff, 507px 1572px #fff, 1375px 1705px #fff, 1898px 1445px #fff,
    846px 1032px #fff, 1020px 1178px #fff, 1379px 1348px #fff, 1785px 294px #fff,
    1180px 78px #fff, 585px 1145px #fff, 935px 967px #fff, 1022px 1528px #fff,
    1776px 1954px #fff, 1079px 1025px #fff, 235px 1524px #fff,
    1032px 1735px #fff, 870px 1163px #fff, 613px 317px #fff, 421px 1211px #fff,
    586px 1249px #fff, 853px 409px #fff, 874px 1469px #fff, 47px 1790px #fff,
    1637px 1771px #fff, 993px 574px #fff, 1706px 870px #fff, 402px 226px #fff,
    1446px 1893px #fff, 671px 1662px #fff, 311px 221px #fff, 1335px 1266px #fff,
    1251px 1015px #fff, 368px 962px #fff, 1035px 1067px #fff, 986px 1074px #fff,
    294px 1452px #fff;
  animation: animStar 50s linear infinite;
}

#stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1328px 792px #fff, 580px 543px #fff, 329px 43px #fff,
    1562px 62px #fff, 1564px 1220px #fff, 1227px 1627px #fff, 571px 538px #fff,
    518px 1502px #fff, 1266px 709px #fff, 83px 1631px #fff, 391px 1680px #fff,
    926px 83px #fff, 694px 1925px #fff, 853px 441px #fff, 157px 1225px #fff,
    76px 1267px #fff, 1341px 12px #fff, 1990px 898px #fff, 552px 1397px #fff,
    1911px 1600px #fff, 1344px 1581px #fff, 193px 903px #fff, 1977px 176px #fff,
    335px 41px #fff, 1358px 1526px #fff, 1513px 4px #fff, 1010px 1518px #fff,
    594px 777px #fff, 150px 1444px #fff, 243px 1309px #fff, 574px 13px #fff,
    1px 1877px #fff, 1461px 1339px #fff, 215px 1628px #fff, 561px 1084px #fff,
    1013px 471px #fff, 1625px 312px #fff, 488px 1058px #fff, 486px 1265px #fff,
    1837px 910px #fff, 811px 1872px #fff, 1498px 1019px #fff, 492px 620px #fff,
    690px 374px #fff, 1989px 1387px #fff, 1852px 666px #fff, 638px 1px #fff,
    704px 286px #fff, 1060px 922px #fff, 133px 445px #fff, 609px 818px #fff,
    789px 650px #fff, 1712px 1276px #fff, 1728px 739px #fff, 819px 380px #fff,
    1173px 971px #fff, 260px 516px #fff, 135px 878px #fff, 981px 426px #fff,
    135px 1773px #fff, 1727px 1564px #fff, 823px 78px #fff, 255px 1063px #fff,
    823px 278px #fff, 1215px 1044px #fff, 1597px 1936px #fff, 843px 309px #fff,
    5px 351px #fff, 1881px 1647px #fff, 1803px 837px #fff, 322px 989px #fff,
    1515px 1760px #fff, 1818px 125px #fff, 241px 53px #fff, 1597px 318px #fff,
    963px 89px #fff, 1056px 1680px #fff, 123px 1357px #fff, 437px 239px #fff,
    1834px 361px #fff, 732px 1254px #fff, 520px 590px #fff, 1495px 1948px #fff,
    1979px 641px #fff, 1982px 1938px #fff, 1146px 162px #fff, 580px 1613px #fff,
    1290px 1839px #fff, 1078px 1993px #fff, 801px 877px #fff, 703px 794px #fff,
    928px 1584px #fff, 685px 1820px #fff, 1707px 1745px #fff, 1316px 421px #fff,
    1041px 182px #fff, 21px 958px #fff, 1176px 1638px #fff, 649px 1292px #fff,
    1183px 536px #fff, 917px 596px #fff, 1757px 714px #fff, 24px 1155px #fff,
    1526px 151px #fff, 1535px 142px #fff, 217px 1821px #fff, 1642px 1681px #fff,
    457px 971px #fff, 129px 1130px #fff, 1813px 469px #fff, 794px 557px #fff,
    433px 1601px #fff, 3px 729px #fff, 1117px 832px #fff, 1902px 1927px #fff,
    1777px 526px #fff, 784px 742px #fff, 1880px 227px #fff, 605px 1520px #fff,
    1441px 1256px #fff, 418px 1605px #fff, 142px 1699px #fff, 1947px 300px #fff,
    1183px 1470px #fff, 1798px 703px #fff, 605px 1429px #fff, 1309px 103px #fff,
    1601px 433px #fff, 1069px 1104px #fff, 127px 176px #fff, 1328px 1158px #fff,
    1070px 1593px #fff, 71px 52px #fff, 1849px 174px #fff, 302px 1023px #fff,
    669px 1722px #fff, 161px 1425px #fff, 979px 1278px #fff, 745px 532px #fff,
    622px 1583px #fff, 474px 603px #fff, 574px 741px #fff, 944px 35px #fff,
    203px 501px #fff, 1385px 471px #fff, 1047px 1278px #fff, 1464px 1363px #fff,
    1400px 1201px #fff, 1738px 1983px #fff, 1915px 253px #fff, 524px 231px #fff,
    1602px 348px #fff, 1679px 333px #fff, 834px 232px #fff, 715px 1240px #fff,
    1740px 924px #fff, 1796px 825px #fff, 1976px 390px #fff, 1796px 470px #fff,
    268px 665px #fff, 1306px 366px #fff, 1397px 55px #fff, 1271px 1813px #fff,
    1226px 1357px #fff, 1370px 950px #fff, 1312px 539px #fff, 261px 1998px #fff,
    591px 1525px #fff, 1536px 123px #fff, 1304px 782px #fff, 476px 1833px #fff,
    1962px 929px #fff, 927px 507px #fff, 584px 957px #fff, 1659px 1170px #fff,
    306px 1345px #fff, 436px 1342px #fff, 22px 1469px #fff, 885px 891px #fff,
    1580px 899px #fff, 284px 467px #fff, 608px 296px #fff, 1243px 675px #fff,
    1882px 286px #fff, 331px 12px #fff, 454px 1908px #fff, 70px 293px #fff,
    1824px 221px #fff, 687px 1410px #fff, 576px 1915px #fff, 426px 1290px #fff,
    1431px 262px #fff, 1688px 383px #fff, 710px 639px #fff, 1080px 1647px #fff,
    1146px 952px #fff, 26px 314px #fff, 98px 1341px #fff, 1066px 1551px #fff,
    1819px 1388px #fff, 523px 319px #fff, 1411px 1285px #fff, 514px 1704px #fff,
    1049px 728px #fff, 505px 684px #fff, 75px 689px #fff, 31px 257px #fff,
    1274px 761px #fff, 748px 133px #fff, 1046px 553px #fff, 835px 1509px #fff,
    1880px 756px #fff, 328px 110px #fff, 962px 1574px #fff, 702px 160px #fff,
    1386px 267px #fff, 1619px 1683px #fff, 1796px 1879px #fff, 1015px 924px #fff,
    565px 328px #fff, 1402px 963px #fff, 1674px 796px #fff, 673px 44px #fff,
    1100px 795px #fff, 312px 1817px #fff, 879px 1545px #fff, 1853px 1254px #fff,
    127px 1994px #fff, 1721px 369px #fff, 722px 420px #fff, 865px 239px #fff,
    1801px 672px #fff, 300px 1797px #fff, 1505px 1987px #fff, 190px 375px #fff,
    494px 1792px #fff, 471px 971px #fff, 565px 447px #fff, 509px 1711px #fff,
    1549px 1961px #fff, 1514px 1858px #fff, 1332px 369px #fff,
    1001px 1693px #fff, 1182px 763px #fff, 1839px 1168px #fff, 1319px 207px #fff,
    374px 1977px #fff, 1791px 1159px #fff, 1305px 979px #fff, 328px 682px #fff,
    1587px 494px #fff, 1464px 1032px #fff, 366px 1129px #fff, 226px 321px #fff,
    1709px 1158px #fff, 1734px 928px #fff, 234px 1810px #fff, 1924px 673px #fff,
    471px 1234px #fff, 1158px 1190px #fff, 949px 1311px #fff, 1102px 1122px #fff,
    1169px 62px #fff, 581px 605px #fff, 1140px 502px #fff, 382px 196px #fff,
    742px 59px #fff, 685px 1547px #fff, 292px 571px #fff, 568px 1197px #fff,
    170px 706px #fff, 182px 1393px #fff, 1270px 190px #fff, 763px 330px #fff,
    370px 1729px #fff, 1622px 1316px #fff, 582px 1138px #fff, 900px 896px #fff,
    637px 1742px #fff, 1415px 18px #fff, 145px 292px #fff, 1734px 745px #fff,
    1875px 1674px #fff, 96px 1952px #fff, 1046px 1105px #fff, 463px 1527px #fff,
    847px 1329px #fff, 1351px 1873px #fff, 1275px 636px #fff, 432px 1770px #fff,
    322px 1547px #fff, 1588px 1380px #fff, 1691px 586px #fff, 1638px 227px #fff,
    488px 1333px #fff, 1750px 1135px #fff, 835px 95px #fff, 430px 1413px #fff,
    872px 920px #fff, 1849px 894px #fff, 1535px 1557px #fff, 1304px 940px #fff,
    172px 1212px #fff, 1323px 1487px #fff, 765px 1591px #fff, 663px 518px #fff,
    1218px 549px #fff, 193px 1914px #fff, 411px 1451px #fff, 1368px 99px #fff,
    1974px 612px #fff, 281px 344px #fff, 1339px 1267px #fff, 301px 568px #fff,
    933px 1601px #fff, 1098px 1552px #fff, 1228px 1880px #fff, 77px 613px #fff,
    1145px 870px #fff, 1990px 59px #fff, 1369px 1190px #fff, 696px 1377px #fff,
    587px 1290px #fff, 835px 1601px #fff, 662px 1918px #fff, 954px 65px #fff,
    1150px 1436px #fff, 1018px 1626px #fff, 1333px 1686px #fff,
    381px 1605px #fff, 1482px 655px #fff, 1232px 1494px #fff, 1258px 1708px #fff,
    412px 1161px #fff, 804px 1520px #fff, 76px 24px #fff, 133px 954px #fff,
    1644px 897px #fff, 1144px 376px #fff, 1596px 766px #fff, 1876px 1682px #fff,
    1926px 978px #fff, 1705px 1230px #fff, 1710px 145px #fff, 1377px 694px #fff,
    1917px 987px #fff, 635px 377px #fff, 1353px 595px #fff, 181px 1123px #fff,
    965px 1017px #fff, 834px 1712px #fff, 1825px 1215px #fff, 700px 1365px #fff,
    1279px 110px #fff, 1003px 919px #fff, 810px 188px #fff, 557px 1929px #fff,
    313px 1210px #fff, 1792px 1259px #fff, 803px 1195px #fff, 124px 857px #fff,
    1343px 1411px #fff, 376px 1292px #fff, 1612px 122px #fff, 1559px 147px #fff,
    2px 501px #fff, 485px 1042px #fff, 126px 1316px #fff, 471px 468px #fff,
    949px 1902px #fff, 1154px 905px #fff, 1053px 1161px #fff, 1565px 653px #fff,
    427px 1516px #fff, 1921px 1068px #fff, 1589px 694px #fff, 1182px 830px #fff,
    121px 1548px #fff, 778px 249px #fff, 1875px 1489px #fff, 272px 1836px #fff,
    1101px 1484px #fff, 22px 354px #fff, 704px 45px #fff, 1634px 902px #fff,
    1810px 196px #fff, 1084px 1137px #fff, 1202px 401px #fff, 1615px 1435px #fff,
    1609px 325px #fff, 1501px 100px #fff, 126px 1233px #fff, 1806px 1670px #fff,
    1272px 1946px #fff, 1058px 223px #fff, 214px 1014px #fff, 1154px 355px #fff,
    1256px 340px #fff, 1833px 463px #fff, 1787px 1415px #fff, 1148px 180px #fff,
    881px 1124px #fff, 425px 1936px #fff, 72px 1706px #fff, 1175px 1765px #fff,
    1696px 1350px #fff, 1703px 259px #fff, 763px 1140px #fff, 401px 185px #fff,
    731px 1924px #fff, 1681px 908px #fff, 1831px 149px #fff, 1592px 1020px #fff,
    862px 1134px #fff, 1141px 1743px #fff, 609px 1798px #fff, 1829px 834px #fff,
    1323px 1852px #fff, 490px 1683px #fff, 854px 1801px #fff, 561px 1606px #fff,
    780px 1158px #fff, 1859px 1025px #fff, 1555px 599px #fff, 1607px 1014px #fff,
    958px 525px #fff, 466px 1101px #fff, 1567px 8px #fff, 778px 1080px #fff,
    1420px 1946px #fff, 252px 1573px #fff, 1822px 1525px #fff, 1488px 171px #fff,
    1869px 1463px #fff, 1731px 7px #fff, 1332px 273px #fff, 271px 1217px #fff,
    1384px 1060px #fff, 779px 506px #fff, 721px 576px #fff, 1229px 1084px #fff,
    1282px 673px #fff, 1242px 1882px #fff, 1727px 1110px #fff, 1258px 837px #fff,
    1222px 1215px #fff, 214px 1091px #fff, 1750px 780px #fff, 684px 953px #fff,
    459px 745px #fff, 1252px 1568px #fff, 1293px 1057px #fff, 366px 528px #fff,
    261px 535px #fff, 800px 846px #fff, 744px 944px #fff, 651px 175px #fff,
    1198px 1542px #fff, 1677px 720px #fff, 840px 1775px #fff, 823px 560px #fff,
    1349px 1889px #fff, 157px 1838px #fff, 814px 113px #fff, 87px 1335px #fff,
    1760px 76px #fff, 1634px 1773px #fff, 1262px 237px #fff, 216px 458px #fff,
    956px 609px #fff, 463px 271px #fff, 1364px 1100px #fff, 1436px 1387px #fff,
    1345px 189px #fff, 835px 1056px #fff, 1975px 407px #fff, 138px 56px #fff,
    1070px 1372px #fff, 95px 114px #fff, 1000px 1231px #fff, 206px 427px #fff,
    171px 598px #fff, 1816px 202px #fff, 367px 282px #fff, 1020px 1183px #fff,
    405px 1941px #fff, 555px 588px #fff, 563px 1360px #fff, 1670px 408px #fff,
    1329px 1219px #fff, 474px 673px #fff, 1801px 1591px #fff, 1637px 1818px #fff,
    1115px 188px #fff, 263px 521px #fff, 1663px 17px #fff, 1084px 1293px #fff,
    1834px 871px #fff, 1474px 1763px #fff, 496px 1309px #fff, 1588px 1354px #fff,
    461px 86px #fff, 945px 947px #fff, 800px 1176px #fff, 1698px 1091px #fff,
    1906px 363px #fff, 986px 1741px #fff, 198px 356px #fff, 355px 1173px #fff,
    1251px 1116px #fff, 306px 1325px #fff, 913px 1312px #fff, 1345px 682px #fff,
    1611px 1513px #fff, 214px 1860px #fff, 1586px 135px #fff, 1317px 1493px #fff,
    507px 1812px #fff, 840px 407px #fff, 1562px 1521px #fff, 4px 1100px #fff,
    162px 1473px #fff, 1877px 296px #fff, 204px 1279px #fff, 1958px 1647px #fff,
    1187px 1602px #fff, 1003px 1302px #fff, 1703px 1435px #fff,
    1088px 314px #fff, 1402px 893px #fff, 1263px 6px #fff, 1188px 309px #fff,
    113px 1721px #fff, 972px 1480px #fff, 1198px 368px #fff, 1017px 644px #fff,
    1672px 1806px #fff, 1044px 846px #fff, 274px 1495px #fff, 733px 409px #fff,
    1158px 1178px #fff, 1937px 620px #fff, 174px 1806px #fff, 1688px 1951px #fff,
    1003px 1721px #fff, 942px 94px #fff, 315px 489px #fff, 24px 1228px #fff,
    889px 872px #fff, 868px 1360px #fff, 1047px 1465px #fff, 264px 1578px #fff,
    1257px 1113px #fff, 1372px 963px #fff, 302px 216px #fff, 767px 1931px #fff,
    1150px 215px #fff, 1816px 1033px #fff, 1039px 1449px #fff, 461px 108px #fff,
    157px 1284px #fff, 947px 927px #fff, 1425px 809px #fff, 1737px 1923px #fff,
    1272px 1529px #fff, 127px 143px #fff, 856px 1596px #fff, 139px 1551px #fff,
    982px 1622px #fff, 1626px 1452px #fff, 238px 593px #fff, 705px 275px #fff,
    63px 1391px #fff, 548px 388px #fff, 1601px 167px #fff, 741px 1355px #fff,
    1001px 1450px #fff, 629px 1287px #fff, 916px 1611px #fff, 601px 567px #fff,
    1914px 144px #fff, 1221px 399px #fff, 9px 1120px #fff, 1874px 768px #fff,
    810px 850px #fff, 1203px 479px #fff, 1353px 269px #fff, 617px 1510px #fff,
    550px 482px #fff, 352px 1861px #fff, 1112px 820px #fff, 854px 1561px #fff,
    575px 79px #fff, 1708px 1727px #fff, 1806px 693px #fff, 70px 1526px #fff,
    186px 617px #fff, 1747px 1683px #fff, 134px 1170px #fff, 1525px 1487px #fff,
    262px 813px #fff, 422px 1461px #fff, 332px 405px #fff, 45px 1522px #fff,
    1529px 497px #fff, 627px 756px #fff, 1656px 814px #fff, 199px 701px #fff,
    1095px 334px #fff, 1582px 7px #fff, 6px 665px #fff, 1174px 1176px #fff,
    7px 48px #fff, 1255px 793px #fff, 1281px 1736px #fff, 1584px 545px #fff,
    1837px 1616px #fff, 1334px 302px #fff, 1341px 437px #fff, 1943px 524px #fff,
    1718px 1956px #fff, 72px 1986px #fff, 1256px 1813px #fff, 944px 2px #fff,
    1608px 450px #fff, 747px 1837px #fff, 715px 1527px #fff, 393px 396px #fff,
    703px 654px #fff, 1635px 1145px #fff, 1429px 1095px #fff, 1294px 1650px #fff,
    1474px 511px #fff, 1097px 312px #fff, 1639px 671px #fff, 738px 1832px #fff,
    1026px 109px #fff, 781px 1702px #fff, 1537px 663px #fff, 529px 1031px #fff,
    722px 1335px #fff, 840px 711px #fff, 435px 671px #fff, 1875px 1431px #fff,
    55px 1437px #fff, 1570px 81px #fff, 859px 809px #fff, 522px 383px #fff,
    1360px 1526px #fff, 1844px 26px #fff, 897px 1703px #fff, 1098px 1317px #fff,
    491px 1402px #fff, 884px 1148px #fff, 541px 1386px #fff, 500px 715px #fff,
    34px 1415px #fff, 478px 636px #fff, 330px 1663px #fff, 1368px 1884px #fff,
    1997px 1604px #fff, 1179px 323px #fff, 1433px 437px #fff, 535px 474px #fff,
    1959px 515px #fff, 507px 1572px #fff, 1375px 1705px #fff, 1898px 1445px #fff,
    846px 1032px #fff, 1020px 1178px #fff, 1379px 1348px #fff, 1785px 294px #fff,
    1180px 78px #fff, 585px 1145px #fff, 935px 967px #fff, 1022px 1528px #fff,
    1776px 1954px #fff, 1079px 1025px #fff, 235px 1524px #fff,
    1032px 1735px #fff, 870px 1163px #fff, 613px 317px #fff, 421px 1211px #fff,
    586px 1249px #fff, 853px 409px #fff, 874px 1469px #fff, 47px 1790px #fff,
    1637px 1771px #fff, 993px 574px #fff, 1706px 870px #fff, 402px 226px #fff,
    1446px 1893px #fff, 671px 1662px #fff, 311px 221px #fff, 1335px 1266px #fff,
    1251px 1015px #fff, 368px 962px #fff, 1035px 1067px #fff, 986px 1074px #fff,
    294px 1452px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1971px 118px #fff, 1034px 998px #fff, 1138px 1133px #fff,
    403px 542px #fff, 419px 447px #fff, 1276px 762px #fff, 1120px 1830px #fff,
    1632px 513px #fff, 1946px 349px #fff, 1705px 1840px #fff, 1709px 779px #fff,
    322px 1997px #fff, 1694px 1903px #fff, 1152px 1037px #fff, 746px 1453px #fff,
    75px 1456px #fff, 780px 1927px #fff, 186px 1200px #fff, 1014px 295px #fff,
    1945px 829px #fff, 343px 857px #fff, 1874px 1092px #fff, 1264px 918px #fff,
    420px 1438px #fff, 61px 1232px #fff, 362px 566px #fff, 81px 171px #fff,
    1265px 1096px #fff, 502px 1159px #fff, 1475px 1632px #fff, 543px 613px #fff,
    497px 150px #fff, 906px 132px #fff, 1169px 916px #fff, 524px 1201px #fff,
    832px 521px #fff, 369px 1652px #fff, 1928px 607px #fff, 1739px 1969px #fff,
    758px 1153px #fff, 331px 336px #fff, 740px 1526px #fff, 1396px 415px #fff,
    979px 1285px #fff, 1522px 1316px #fff, 1228px 1940px #fff, 932px 1790px #fff,
    1719px 632px #fff, 280px 1434px #fff, 1139px 1162px #fff, 1726px 126px #fff,
    543px 1314px #fff, 1616px 57px #fff, 1614px 1438px #fff, 1049px 1008px #fff,
    966px 1120px #fff, 1412px 1220px #fff, 276px 1466px #fff, 1669px 1830px #fff,
    1123px 1439px #fff, 1108px 1189px #fff, 1850px 214px #fff, 790px 709px #fff,
    824px 1515px #fff, 834px 1111px #fff, 1028px 271px #fff, 516px 34px #fff,
    392px 140px #fff, 1611px 1896px #fff, 1004px 174px #fff, 544px 448px #fff,
    194px 1761px #fff, 1682px 342px #fff, 1695px 770px #fff, 1400px 267px #fff,
    651px 164px #fff, 465px 1568px #fff, 1626px 59px #fff, 948px 1063px #fff,
    1285px 1134px #fff, 167px 1208px #fff, 1989px 528px #fff, 1596px 1637px #fff,
    996px 50px #fff, 480px 1283px #fff, 1121px 790px #fff, 281px 812px #fff,
    1075px 1811px #fff, 995px 1060px #fff, 1252px 193px #fff, 1327px 1485px #fff,
    881px 150px #fff, 766px 663px #fff, 456px 55px #fff, 425px 944px #fff,
    980px 1693px #fff, 1293px 1554px #fff, 175px 1568px #fff, 754px 496px #fff,
    700px 844px #fff, 1635px 434px #fff, 667px 949px #fff, 1514px 880px #fff,
    534px 769px #fff, 1240px 1919px #fff, 1850px 219px #fff, 640px 242px #fff,
    1523px 1725px #fff, 367px 1509px #fff, 984px 1601px #fff, 160px 71px #fff,
    1293px 299px #fff, 764px 1169px #fff, 685px 88px #fff, 813px 200px #fff,
    1594px 1837px #fff, 1404px 498px #fff, 1165px 145px #fff, 1888px 1766px #fff,
    1177px 1662px #fff, 1388px 428px #fff, 183px 1343px #fff, 1018px 412px #fff,
    451px 1339px #fff, 1539px 827px #fff, 677px 1514px #fff, 531px 1089px #fff,
    1048px 30px #fff, 39px 1422px #fff, 1333px 1421px #fff, 140px 430px #fff,
    788px 1188px #fff, 1118px 1908px #fff, 1415px 1121px #fff, 687px 1839px #fff,
    1579px 1573px #fff, 1250px 82px #fff, 1789px 1677px #fff, 873px 886px #fff,
    1085px 607px #fff, 1936px 1621px #fff, 507px 1042px #fff, 937px 933px #fff,
    772px 1335px #fff, 1568px 1488px #fff, 1095px 1760px #fff,
    1742px 1284px #fff, 1075px 920px #fff, 1512px 1563px #fff,
    1059px 1865px #fff, 1607px 733px #fff, 1629px 905px #fff, 44px 1745px #fff,
    447px 1623px #fff, 31px 432px #fff, 1734px 597px #fff, 822px 811px #fff,
    302px 178px #fff, 45px 579px #fff, 5px 818px #fff, 336px 1215px #fff,
    1773px 833px #fff, 1745px 1701px #fff, 938px 1224px #fff, 1464px 855px #fff,
    317px 86px #fff, 922px 1626px #fff, 183px 22px #fff, 1158px 1878px #fff,
    1657px 1956px #fff, 485px 1776px #fff, 687px 1027px #fff, 1764px 879px #fff,
    257px 1874px #fff, 1700px 1964px #fff, 1471px 354px #fff, 1035px 989px #fff,
    987px 897px #fff, 178px 884px #fff, 1457px 973px #fff, 942px 329px #fff,
    524px 257px #fff, 254px 1099px #fff, 1154px 1054px #fff, 1726px 1325px #fff,
    1324px 357px #fff, 12px 1877px #fff, 793px 1842px #fff, 1561px 415px #fff,
    1882px 950px #fff, 982px 1805px #fff, 1982px 1210px #fff, 1896px 509px #fff,
    1691px 516px #fff, 1657px 144px #fff, 1470px 1166px #fff, 1640px 1177px #fff,
    1305px 317px #fff, 1539px 548px #fff, 438px 30px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1971px 118px #fff, 1034px 998px #fff, 1138px 1133px #fff,
    403px 542px #fff, 419px 447px #fff, 1276px 762px #fff, 1120px 1830px #fff,
    1632px 513px #fff, 1946px 349px #fff, 1705px 1840px #fff, 1709px 779px #fff,
    322px 1997px #fff, 1694px 1903px #fff, 1152px 1037px #fff, 746px 1453px #fff,
    75px 1456px #fff, 780px 1927px #fff, 186px 1200px #fff, 1014px 295px #fff,
    1945px 829px #fff, 343px 857px #fff, 1874px 1092px #fff, 1264px 918px #fff,
    420px 1438px #fff, 61px 1232px #fff, 362px 566px #fff, 81px 171px #fff,
    1265px 1096px #fff, 502px 1159px #fff, 1475px 1632px #fff, 543px 613px #fff,
    497px 150px #fff, 906px 132px #fff, 1169px 916px #fff, 524px 1201px #fff,
    832px 521px #fff, 369px 1652px #fff, 1928px 607px #fff, 1739px 1969px #fff,
    758px 1153px #fff, 331px 336px #fff, 740px 1526px #fff, 1396px 415px #fff,
    979px 1285px #fff, 1522px 1316px #fff, 1228px 1940px #fff, 932px 1790px #fff,
    1719px 632px #fff, 280px 1434px #fff, 1139px 1162px #fff, 1726px 126px #fff,
    543px 1314px #fff, 1616px 57px #fff, 1614px 1438px #fff, 1049px 1008px #fff,
    966px 1120px #fff, 1412px 1220px #fff, 276px 1466px #fff, 1669px 1830px #fff,
    1123px 1439px #fff, 1108px 1189px #fff, 1850px 214px #fff, 790px 709px #fff,
    824px 1515px #fff, 834px 1111px #fff, 1028px 271px #fff, 516px 34px #fff,
    392px 140px #fff, 1611px 1896px #fff, 1004px 174px #fff, 544px 448px #fff,
    194px 1761px #fff, 1682px 342px #fff, 1695px 770px #fff, 1400px 267px #fff,
    651px 164px #fff, 465px 1568px #fff, 1626px 59px #fff, 948px 1063px #fff,
    1285px 1134px #fff, 167px 1208px #fff, 1989px 528px #fff, 1596px 1637px #fff,
    996px 50px #fff, 480px 1283px #fff, 1121px 790px #fff, 281px 812px #fff,
    1075px 1811px #fff, 995px 1060px #fff, 1252px 193px #fff, 1327px 1485px #fff,
    881px 150px #fff, 766px 663px #fff, 456px 55px #fff, 425px 944px #fff,
    980px 1693px #fff, 1293px 1554px #fff, 175px 1568px #fff, 754px 496px #fff,
    700px 844px #fff, 1635px 434px #fff, 667px 949px #fff, 1514px 880px #fff,
    534px 769px #fff, 1240px 1919px #fff, 1850px 219px #fff, 640px 242px #fff,
    1523px 1725px #fff, 367px 1509px #fff, 984px 1601px #fff, 160px 71px #fff,
    1293px 299px #fff, 764px 1169px #fff, 685px 88px #fff, 813px 200px #fff,
    1594px 1837px #fff, 1404px 498px #fff, 1165px 145px #fff, 1888px 1766px #fff,
    1177px 1662px #fff, 1388px 428px #fff, 183px 1343px #fff, 1018px 412px #fff,
    451px 1339px #fff, 1539px 827px #fff, 677px 1514px #fff, 531px 1089px #fff,
    1048px 30px #fff, 39px 1422px #fff, 1333px 1421px #fff, 140px 430px #fff,
    788px 1188px #fff, 1118px 1908px #fff, 1415px 1121px #fff, 687px 1839px #fff,
    1579px 1573px #fff, 1250px 82px #fff, 1789px 1677px #fff, 873px 886px #fff,
    1085px 607px #fff, 1936px 1621px #fff, 507px 1042px #fff, 937px 933px #fff,
    772px 1335px #fff, 1568px 1488px #fff, 1095px 1760px #fff,
    1742px 1284px #fff, 1075px 920px #fff, 1512px 1563px #fff,
    1059px 1865px #fff, 1607px 733px #fff, 1629px 905px #fff, 44px 1745px #fff,
    447px 1623px #fff, 31px 432px #fff, 1734px 597px #fff, 822px 811px #fff,
    302px 178px #fff, 45px 579px #fff, 5px 818px #fff, 336px 1215px #fff,
    1773px 833px #fff, 1745px 1701px #fff, 938px 1224px #fff, 1464px 855px #fff,
    317px 86px #fff, 922px 1626px #fff, 183px 22px #fff, 1158px 1878px #fff,
    1657px 1956px #fff, 485px 1776px #fff, 687px 1027px #fff, 1764px 879px #fff,
    257px 1874px #fff, 1700px 1964px #fff, 1471px 354px #fff, 1035px 989px #fff,
    987px 897px #fff, 178px 884px #fff, 1457px 973px #fff, 942px 329px #fff,
    524px 257px #fff, 254px 1099px #fff, 1154px 1054px #fff, 1726px 1325px #fff,
    1324px 357px #fff, 12px 1877px #fff, 793px 1842px #fff, 1561px 415px #fff,
    1882px 950px #fff, 982px 1805px #fff, 1982px 1210px #fff, 1896px 509px #fff,
    1691px 516px #fff, 1657px 144px #fff, 1470px 1166px #fff, 1640px 1177px #fff,
    1305px 317px #fff, 1539px 548px #fff, 438px 30px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1671px 755px #fff, 1594px 1816px #fff, 161px 269px #fff,
    812px 1891px #fff, 558px 404px #fff, 509px 371px #fff, 586px 179px #fff,
    1946px 1595px #fff, 193px 1220px #fff, 302px 1443px #fff, 495px 1876px #fff,
    852px 845px #fff, 651px 1617px #fff, 1278px 1086px #fff, 1794px 122px #fff,
    1674px 1455px #fff, 1466px 696px #fff, 1740px 187px #fff, 1586px 319px #fff,
    641px 1223px #fff, 788px 1278px #fff, 113px 1638px #fff, 1286px 1442px #fff,
    1823px 748px #fff, 1525px 1064px #fff, 1146px 430px #fff, 1911px 165px #fff,
    1153px 1319px #fff, 1551px 1533px #fff, 1087px 330px #fff, 571px 419px #fff,
    349px 751px #fff, 1918px 1723px #fff, 1317px 1088px #fff, 926px 1061px #fff,
    1827px 1349px #fff, 945px 1807px #fff, 1446px 840px #fff, 30px 1793px #fff,
    677px 684px #fff, 1765px 181px #fff, 1045px 1132px #fff, 749px 549px #fff,
    1488px 1296px #fff, 212px 695px #fff, 1775px 1425px #fff, 342px 28px #fff,
    132px 28px #fff, 489px 1544px #fff, 535px 1180px #fff, 1818px 1983px #fff,
    1029px 40px #fff, 1302px 1384px #fff, 1504px 1985px #fff, 1447px 1586px #fff,
    137px 116px #fff, 1939px 449px #fff, 875px 1793px #fff, 996px 1808px #fff,
    189px 1053px #fff, 1880px 1814px #fff, 726px 1835px #fff, 613px 1173px #fff,
    1485px 1705px #fff, 536px 1404px #fff, 1632px 1074px #fff, 65px 130px #fff,
    110px 272px #fff, 792px 1136px #fff, 365px 1556px #fff, 1551px 40px #fff,
    1206px 826px #fff, 1592px 1474px #fff, 1214px 1319px #fff, 377px 724px #fff,
    62px 1553px #fff, 272px 646px #fff, 453px 1720px #fff, 1552px 502px #fff,
    128px 1035px #fff, 1581px 1237px #fff, 1203px 606px #fff, 211px 1897px #fff,
    1970px 202px #fff, 418px 1255px #fff, 1092px 1180px #fff, 507px 399px #fff,
    1705px 23px #fff, 1421px 1449px #fff, 832px 47px #fff, 758px 305px #fff,
    894px 1209px #fff, 166px 1642px #fff, 803px 1800px #fff, 1405px 1721px #fff,
    166px 1468px #fff, 1417px 1915px #fff, 760px 1347px #fff, 1154px 960px #fff,
    137px 1762px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1671px 755px #fff, 1594px 1816px #fff, 161px 269px #fff,
    812px 1891px #fff, 558px 404px #fff, 509px 371px #fff, 586px 179px #fff,
    1946px 1595px #fff, 193px 1220px #fff, 302px 1443px #fff, 495px 1876px #fff,
    852px 845px #fff, 651px 1617px #fff, 1278px 1086px #fff, 1794px 122px #fff,
    1674px 1455px #fff, 1466px 696px #fff, 1740px 187px #fff, 1586px 319px #fff,
    641px 1223px #fff, 788px 1278px #fff, 113px 1638px #fff, 1286px 1442px #fff,
    1823px 748px #fff, 1525px 1064px #fff, 1146px 430px #fff, 1911px 165px #fff,
    1153px 1319px #fff, 1551px 1533px #fff, 1087px 330px #fff, 571px 419px #fff,
    349px 751px #fff, 1918px 1723px #fff, 1317px 1088px #fff, 926px 1061px #fff,
    1827px 1349px #fff, 945px 1807px #fff, 1446px 840px #fff, 30px 1793px #fff,
    677px 684px #fff, 1765px 181px #fff, 1045px 1132px #fff, 749px 549px #fff,
    1488px 1296px #fff, 212px 695px #fff, 1775px 1425px #fff, 342px 28px #fff,
    132px 28px #fff, 489px 1544px #fff, 535px 1180px #fff, 1818px 1983px #fff,
    1029px 40px #fff, 1302px 1384px #fff, 1504px 1985px #fff, 1447px 1586px #fff,
    137px 116px #fff, 1939px 449px #fff, 875px 1793px #fff, 996px 1808px #fff,
    189px 1053px #fff, 1880px 1814px #fff, 726px 1835px #fff, 613px 1173px #fff,
    1485px 1705px #fff, 536px 1404px #fff, 1632px 1074px #fff, 65px 130px #fff,
    110px 272px #fff, 792px 1136px #fff, 365px 1556px #fff, 1551px 40px #fff,
    1206px 826px #fff, 1592px 1474px #fff, 1214px 1319px #fff, 377px 724px #fff,
    62px 1553px #fff, 272px 646px #fff, 453px 1720px #fff, 1552px 502px #fff,
    128px 1035px #fff, 1581px 1237px #fff, 1203px 606px #fff, 211px 1897px #fff,
    1970px 202px #fff, 418px 1255px #fff, 1092px 1180px #fff, 507px 399px #fff,
    1705px 23px #fff, 1421px 1449px #fff, 832px 47px #fff, 758px 305px #fff,
    894px 1209px #fff, 166px 1642px #fff, 803px 1800px #fff, 1405px 1721px #fff,
    166px 1468px #fff, 1417px 1915px #fff, 760px 1347px #fff, 1154px 960px #fff,
    137px 1762px #fff;
}

/* #title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
} /*# sourceMappingURL=main.css.map */

/* ----shooting stars------ */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
} */

/* .project_des {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
} */
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 120%;
  transform: rotate(-45deg);
  filter: opacity(60%);
}

.star {
  --star-color: white;
  --star-tail-length: 10em;
  --star-tail-height: 0.8px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 12s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 600px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.31em;
  --top-offset: 10.03vh;
  --fall-duration: 6.786s;
  --fall-delay: 7.962s;
}
.star:nth-child(2) {
  --star-tail-length: 5.74em;
  --top-offset: 57.03vh;
  --fall-duration: 7.294s;
  --fall-delay: 0.136s;
}
.star:nth-child(3) {
  --star-tail-length: 6.43em;
  --top-offset: 48.63vh;
  --fall-duration: 9.9s;
  --fall-delay: 0.48s;
}
.star:nth-child(4) {
  --star-tail-length: 6.74em;
  --top-offset: 87.76vh;
  --fall-duration: 11.511s;
  --fall-delay: 4.397s;
}
.star:nth-child(5) {
  --star-tail-length: 5.26em;
  --top-offset: 59.49vh;
  --fall-duration: 9.812s;
  --fall-delay: 1.708s;
}
.star:nth-child(6) {
  --star-tail-length: 6.77em;
  --top-offset: 79.64vh;
  --fall-duration: 10.368s;
  --fall-delay: 4.15s;
}
.star:nth-child(7) {
  --star-tail-length: 7.02em;
  --top-offset: 98.86vh;
  --fall-duration: 8.622s;
  --fall-delay: 8.04s;
}
.star:nth-child(8) {
  --star-tail-length: 5.77em;
  --top-offset: 57.98vh;
  --fall-duration: 8.533s;
  --fall-delay: 6.841s;
}
.star:nth-child(9) {
  --star-tail-length: 5.92em;
  --top-offset: 87.76vh;
  --fall-duration: 7.603s;
  --fall-delay: 7.915s;
}
.star:nth-child(10) {
  --star-tail-length: 7.01em;
  --top-offset: 77.33vh;
  --fall-duration: 8.918s;
  --fall-delay: 2.224s;
}
.star:nth-child(11) {
  --star-tail-length: 5.24em;
  --top-offset: 27.22vh;
  --fall-duration: 8.848s;
  --fall-delay: 9.48s;
}
.star:nth-child(12) {
  --star-tail-length: 6.17em;
  --top-offset: 30.27vh;
  --fall-duration: 8.759s;
  --fall-delay: 3.728s;
}
.star:nth-child(13) {
  --star-tail-length: 6.55em;
  --top-offset: 83.92vh;
  --fall-duration: 8.179s;
  --fall-delay: 9.778s;
}
.star:nth-child(14) {
  --star-tail-length: 5.42em;
  --top-offset: 69.69vh;
  --fall-duration: 7.844s;
  --fall-delay: 9.619s;
}
.star:nth-child(15) {
  --star-tail-length: 6.07em;
  --top-offset: 60.43vh;
  --fall-duration: 10.93s;
  --fall-delay: 9.409s;
}
.star:nth-child(16) {
  --star-tail-length: 5.49em;
  --top-offset: 56.99vh;
  --fall-duration: 8.299s;
  --fall-delay: 6.238s;
}
.star:nth-child(17) {
  --star-tail-length: 6.49em;
  --top-offset: 14.86vh;
  --fall-duration: 6.98s;
  --fall-delay: 9.019s;
}
.star:nth-child(18) {
  --star-tail-length: 7.35em;
  --top-offset: 41.15vh;
  --fall-duration: 7.481s;
  --fall-delay: 0.55s;
}
.star:nth-child(19) {
  --star-tail-length: 6.67em;
  --top-offset: 98.54vh;
  --fall-duration: 9.872s;
  --fall-delay: 3.831s;
}
.star:nth-child(20) {
  --star-tail-length: 6.42em;
  --top-offset: 26.01vh;
  --fall-duration: 9.529s;
  --fall-delay: 9.004s;
}
.star:nth-child(21) {
  --star-tail-length: 6.44em;
  --top-offset: 61.46vh;
  --fall-duration: 8.513s;
  --fall-delay: 6.256s;
}
.star:nth-child(22) {
  --star-tail-length: 5.93em;
  --top-offset: 45.57vh;
  --fall-duration: 11.939s;
  --fall-delay: 4.794s;
}
.star:nth-child(23) {
  --star-tail-length: 6.5em;
  --top-offset: 95.93vh;
  --fall-duration: 7.361s;
  --fall-delay: 5.384s;
}
.star:nth-child(24) {
  --star-tail-length: 6em;
  --top-offset: 17.08vh;
  --fall-duration: 9.603s;
  --fall-delay: 3.886s;
}
.star:nth-child(25) {
  --star-tail-length: 6.82em;
  --top-offset: 72.36vh;
  --fall-duration: 8.913s;
  --fall-delay: 8.832s;
}
.star:nth-child(26) {
  --star-tail-length: 5.3em;
  --top-offset: 63.2vh;
  --fall-duration: 8.453s;
  --fall-delay: 1.177s;
}
.star:nth-child(27) {
  --star-tail-length: 6.78em;
  --top-offset: 31.4vh;
  --fall-duration: 7.685s;
  --fall-delay: 0.514s;
}
.star:nth-child(28) {
  --star-tail-length: 5.18em;
  --top-offset: 7.78vh;
  --fall-duration: 6.749s;
  --fall-delay: 6.1s;
}
.star:nth-child(29) {
  --star-tail-length: 6.34em;
  --top-offset: 92.77vh;
  --fall-duration: 11.493s;
  --fall-delay: 5.703s;
}
.star:nth-child(30) {
  --star-tail-length: 5.51em;
  --top-offset: 63.93vh;
  --fall-duration: 9.495s;
  --fall-delay: 2.628s;
}
.star:nth-child(31) {
  --star-tail-length: 6.96em;
  --top-offset: 33.23vh;
  --fall-duration: 6.369s;
  --fall-delay: 1.175s;
}
.star:nth-child(32) {
  --star-tail-length: 5.27em;
  --top-offset: 23.56vh;
  --fall-duration: 6.972s;
  --fall-delay: 5.482s;
}
.star:nth-child(33) {
  --star-tail-length: 7.29em;
  --top-offset: 91.81vh;
  --fall-duration: 6.955s;
  --fall-delay: 0.555s;
}
.star:nth-child(34) {
  --star-tail-length: 5.04em;
  --top-offset: 42.35vh;
  --fall-duration: 11.244s;
  --fall-delay: 0.647s;
}
.star:nth-child(35) {
  --star-tail-length: 6.18em;
  --top-offset: 56.91vh;
  --fall-duration: 9.72s;
  --fall-delay: 3.298s;
}
.star:nth-child(36) {
  --star-tail-length: 5.03em;
  --top-offset: 68.17vh;
  --fall-duration: 11.303s;
  --fall-delay: 9.623s;
}
.star:nth-child(37) {
  --star-tail-length: 7.44em;
  --top-offset: 28.1vh;
  --fall-duration: 8.773s;
  --fall-delay: 1.315s;
}
.star:nth-child(38) {
  --star-tail-length: 5.15em;
  --top-offset: 1.4vh;
  --fall-duration: 8.067s;
  --fall-delay: 2.978s;
}
.star:nth-child(39) {
  --star-tail-length: 5.66em;
  --top-offset: 4.99vh;
  --fall-duration: 10.759s;
  --fall-delay: 3.32s;
}
.star:nth-child(40) {
  --star-tail-length: 6.54em;
  --top-offset: 88.02vh;
  --fall-duration: 11.248s;
  --fall-delay: 3.067s;
}
.star:nth-child(41) {
  --star-tail-length: 5.58em;
  --top-offset: 65.47vh;
  --fall-duration: 6.248s;
  --fall-delay: 8.108s;
}
.star:nth-child(42) {
  --star-tail-length: 6.07em;
  --top-offset: 15.47vh;
  --fall-duration: 8.212s;
  --fall-delay: 9.226s;
}
.star:nth-child(43) {
  --star-tail-length: 5.93em;
  --top-offset: 91.05vh;
  --fall-duration: 6.842s;
  --fall-delay: 5.29s;
}
.star:nth-child(44) {
  --star-tail-length: 6.73em;
  --top-offset: 13.73vh;
  --fall-duration: 9.925s;
  --fall-delay: 6.438s;
}
.star:nth-child(45) {
  --star-tail-length: 5.74em;
  --top-offset: 80.22vh;
  --fall-duration: 11.183s;
  --fall-delay: 5.74s;
}
.star:nth-child(46) {
  --star-tail-length: 6.83em;
  --top-offset: 66.36vh;
  --fall-duration: 7.343s;
  --fall-delay: 0.623s;
}
.star:nth-child(47) {
  --star-tail-length: 7.19em;
  --top-offset: 49.3vh;
  --fall-duration: 7.075s;
  --fall-delay: 5.448s;
}
.star:nth-child(48) {
  --star-tail-length: 6.05em;
  --top-offset: 89.64vh;
  --fall-duration: 6.835s;
  --fall-delay: 1.2s;
}
.star:nth-child(49) {
  --star-tail-length: 6.32em;
  --top-offset: 23.48vh;
  --fall-duration: 9s;
  --fall-delay: 0.349s;
}
.star:nth-child(50) {
  --star-tail-length: 7.5em;
  --top-offset: 85.48vh;
  --fall-duration: 7.001s;
  --fall-delay: 6.036s;
}
.star::before,
.star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
