nav {
  position: relative;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
  background-color: orangered;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
  background-color: orangered;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: inline-block;
  }
}
@media only screen and (min-width: 600px) {
  .collapsable_menu_main_div {
    display: none;
  }
}
.collapsable_menu_main_div {
  background-color: #ffffff16;
  position: fixed;
  top: 5.5vh;
  width: 100%;
  padding: 15px 10px;
  z-index: 999;
  backdrop-filter: blur(50px);
  color: orangered;
  font-weight: 500;
  letter-spacing: 1px;
  display: none;
}
.collapsable_menu_main_div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.collapsable_menu_main_div ul li {
  list-style: none;
  cursor: pointer;
}

.collapsable_menu_main_div_active {
  display: block;
}
